[XBee Port File]
/dev/ttyUSB0
[Joystick Port File]
/dev/input/js0
[Joystick Event File]
/dev/input/event4
[Joystick Discard Threshold]
5000
[PPM Interval]
20000
[Timeout Threshold]
1000
[Button State Count]
0,0,0,0,1,1,0,0,0,0,0,0
[Context Button]
5
